@font-face {
  font-family: MyriadPro-Regular;
  src: url(MyriadPro-Regular.otf);
}

#body
{
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	font-size: 12pt;
	font-family: MyriadPro-Regular;
	min-width: 850px;
	background-color: #282828;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #588c7e;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #69a494;
    color: white;
}

#actual {
    background-color: #ffcc5c;
    color: #282828;
}

.active {
    background-color: #c1502e;
}

li img{
    display: block;
    color: white;
    text-align: center;
    padding: 3.5px 16px;
    text-decoration: none;
    width: 40px;
}
/*
.container{
    position:absolute;
    width:100px;
    height:100px;
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
}
*/
.box
{
    /*position:absolute;*/
    width:173px;
    height:122px;
    /*left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;*/
    margin-left: 15px;
	background-color: #588c7e;
}

#loginbox
{
    position:absolute;
    width:204px;
    height:261px;
    left:50%;
    top:50%;
    margin-left:-80px;
    margin-top:-150px;
	background-color: #588c7e;
}

#img1
{
	margin-left: 41px;
	margin-top: 12px;
}

button
{
	margin-top: 7px;
}

.checkbox
{
	margin-top: 10px;
	margin-left: 0px;
}

.login
{
	margin-bottom: 3px;
}